<?xml version="1.0" encoding="UTF-8"?>
<!-- IClassDao 전용 Mapper: 게시판관련 sql -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1.parameterType에 1개의 Type만 올 수 있다. Type 여러개인 경우 생략할 것.
	2.parameterType이 bean(DTO)인 경우 #{필드명}
	3.parameterType이 변수인 경우 #{변수명}
	4.parameterType이 Map<key,value> 인 경우 #{key}
	5.resultType 1개 또는 1개 이상의 레코드를 검색하려는 경우 bean(DTO)타입만 명시하면 됨.(select일떄는 resultType을 꼭 입력해야함) 
-->

<mapper namespace="com.icia.materialUpload.IMaterialUploadDao">
	<!-- 시험 문제 -->
	<select id="selectTestMaterialClassList" parameterType="materialUpload" resultType="materialUpload">
		SELECT * FROM CLASS WHERE CL_ID = #{cl_id}
	</select>
	
	<select id="selectTestMaterialCountList" parameterType="materialUpload" resultType="int">
		SELECT COUNT(*) FROM ADMIAPPLICATION WHERE AA_IDNUM = #{cl_idnum} AND AA_LV = #{cl_lv}
	</select>
	
	<select id="insertTestMaterialUploadPage" parameterType="materialUpload" resultType="materialUpload">
		SELECT CLASS.CL_ID, CLASS.CL_CLNAME, CLASS.CL_LCNUM, CLASS.CL_IDNUM, CLASS.CL_LV, COURSE.CO_NAME, COURSE.CO_NUM
		FROM (SELECT * FROM CLASS WHERE CL_ID = #{cl_id}) CLASS INNER JOIN COURSE	
		ON CLASS.CL_IDNUM = COURSE.CO_IDNUM
		WHERE CL_IDNUM = #{cl_idnum} and CL_LV = #{cl_lv}
		ORDER BY COURSE.CO_NUM ASC
	</select>

	<select id="insertTestMaterialUploadFrmAjax" parameterType="materialUpload" resultType="materialUpload">
		SELECT CLASS.CL_ID, CLASS.CL_CLNAME, CLASS.CL_LCNUM, CLASS.CL_IDNUM, CLASS.CL_LV, COURSE.CO_NAME, COURSE.CO_NUM
		FROM (SELECT * FROM CLASS WHERE CL_ID = #{cl_id}) CLASS INNER JOIN COURSE
		ON CLASS.CL_IDNUM = COURSE.CO_IDNUM
		WHERE CL_IDNUM = #{cl_idnum} and CL_LV = #{cl_lv}
		ORDER BY COURSE.CO_NUM ASC
	</select>
	
	<select id="selectTestMaterialCourseAjax" parameterType="materialUpload" resultType="materialUpload">
		SELECT * FROM COURSE WHERE CO_IDNUM = #{cl_idnum} AND CO_LV = #{cl_lv}
	</select>
	
	<select id="selectTestMaterialCourse" parameterType="materialUpload" resultType="materialUpload">
		SELECT * FROM COURSE WHERE CO_IDNUM = #{cl_idnum} AND CO_LV = #{cl_lv}
	</select>
	
	<insert id="insertTestMaterialUploadProblemAjax" parameterType="materialUpload">
		INSERT INTO PROBLEM VALUES(0, #{pb_lv}, #{pb_id}, #{pb_idnum}, #{pb_pbnum}, #{pb_pbname}, #{pb_pbanswer}, #{pb_pbexplain}, #{pb_pbanswer}, 1, default, 0)
	</insert>
	
	<insert id="insertTestMaterialUploadDetailProblemAjax" parameterType="materialUpload">
		INSERT INTO DETAILPROBLEM VALUES(0, #{dp_lv}, #{dp_id}, #{dp_idnum}, #{dp_pbnum}, #{dp_pbexm}, #{dp_pbexmnum}, #{dp_coname})
	</insert>
	
	<select id="selectViewTestMaterialUploadPageAjax" parameterType="materialUpload" resultMap="mapMaterialUpload">
		SELECT PB_PBCHKQZ, PB_NUM, PB_IDNUM, PB_LV, PB_ID, PB_PBNUM, PB_PBNAME, PB_PBANSWER, PB_PBEXPLAIN, DP_PBEXMNUM, DP_PBEXM, DP_CONAME
		FROM (SELECT * FROM PROBLEM WHERE PB_IDNUM = #{cl_idnum} AND PB_LV = #{cl_lv}) PROBLEM INNER JOIN DETAILPROBLEM
		ON PROBLEM.PB_IDNUM = DETAILPROBLEM.DP_IDNUM AND PROBLEM.PB_PBNUM = DETAILPROBLEM.DP_PBNUM
		WHERE PB_IDNUM = #{cl_idnum} AND PB_LV = #{cl_lv} AND PB_PBCHKQZ = 0
		ORDER BY PB_PBNUM, DP_PBEXMNUM ASC
	</select>
	
	<resultMap type="MaterialUpload" id="mapMaterialUpload">
		<id column="PB_IDNUM" property="pb_idnum" />
		<collection property="muPbList" javaType="java.util.ArrayList" resultMap="mapProblem"/>
	</resultMap>
	
	<resultMap type="muProblem" id="mapProblem">	
		<result column="PB_PBCHKQZ" property="pb_pbchkqz"/>
		<result column="PB_NUM" property="pb_num"/>
		<result column="PB_IDNUM" property="pb_idnum"/>
		<result column="PB_LV" property="pb_lv"/>
		<result column="PB_ID" property="pb_id"/>
		<result column="PB_PBNUM" property="pb_pbnum"/>
		<result column="PB_PBNAME" property="pb_pbname"/>
		<result column="PB_PBANSWER" property="pb_pbanswer"/>
		<result column="PB_PBEXPLAIN" property="pb_pbexplain"/>
		<result column="DP_CONAME" property="dp_coname"/>
		<collection property="muDpList" javaType="java.util.ArrayList" resultMap="mapDetailProblem"/>
	</resultMap>
	
	<resultMap type="muDetailProblem" id="mapDetailProblem">
		<collection property="muDpExmList" javaType="java.util.ArrayList" resultMap="muDpExmList"/>
	</resultMap>

	<resultMap type="muDPExm" id="muDpExmList">
		<id column="DP_PBNUM" property="dp_pbnum"/>
		<result column="DP_PBEXM" property="dp_pbexm"/>
		<result column="DP_PBEXMNUM" property="dp_pbexmnum"/>
	</resultMap>
	
	<select id="selectClname" parameterType="materialUpload" resultType="String">
		SELECT CL_CLNAME FROM CLASS WHERE CL_IDNUM=#{cl_idnum} AND CL_LV=#{cl_lv}
	</select>

	<select id="selectCllcnum" parameterType="materialUpload" resultType="Int">
		SELECT CL_LCNUM FROM CLASS WHERE CL_IDNUM=#{cl_idnum} AND CL_LV=#{cl_lv}
	</select>
	
	
	<!-- 퀴즈 문제 -->
	<select id="selectQuizMaterialClassList" parameterType="materialUpload" resultType="materialUpload">
		SELECT * FROM CLASS WHERE CL_ID = #{cl_id}
	</select>
	
	<select id="selectQuizMaterialCountList" parameterType="materialUpload" resultType="int">
		SELECT COUNT(*) FROM ADMIAPPLICATION WHERE AA_IDNUM = #{cl_idnum} AND AA_LV = #{cl_lv}
	</select>
	
	<select id="selectQuizMaterialClCoList" parameterType="materialUpload" resultType="materialUpload">
		SELECT CLASS.CL_ID, CLASS.CL_CLNAME, CLASS.CL_IDNUM, CLASS.CL_LV, COURSE.CO_NAME, COURSE.CO_NUM
		FROM (SELECT * FROM CLASS WHERE CL_ID = #{cl_id}) CLASS INNER JOIN COURSE	
		ON CLASS.CL_IDNUM = COURSE.CO_IDNUM
		WHERE CL_IDNUM = #{cl_idnum} and CL_LV = #{cl_lv}
		ORDER BY COURSE.CO_NUM ASC
	</select>
	
	<select id="insertQuizMaterialUploadPage" parameterType="materialUpload" resultType="materialUpload">
		SELECT CLASS.CL_ID, CLASS.CL_CLNAME, CLASS.CL_IDNUM, CLASS.CL_LV, COURSE.CO_NAME, COURSE.CO_NUM
		FROM (SELECT * FROM CLASS WHERE CL_ID = #{cl_id}) CLASS INNER JOIN COURSE	
		ON CLASS.CL_IDNUM = COURSE.CO_IDNUM
		WHERE CL_IDNUM = #{cl_idnum} and CL_LV = #{cl_lv}
		ORDER BY COURSE.CO_NUM ASC
	</select>
	
	<select id="insertQuizMaterialUploadFrmAjax" parameterType="materialUpload" resultType="materialUpload">
		SELECT CLASS.CL_ID, CLASS.CL_CLNAME, CLASS.CL_IDNUM, CLASS.CL_LV, COURSE.CO_NAME, COURSE.CO_NUM
		FROM (SELECT * FROM CLASS WHERE CL_ID = #{cl_id}) CLASS INNER JOIN COURSE
		ON CLASS.CL_IDNUM = COURSE.CO_IDNUM
		WHERE CL_IDNUM = #{cl_idnum} AND CL_LV = #{cl_lv} AND CO_NUM = #{co_num}
		ORDER BY COURSE.CO_NUM ASC
	</select>
	
	<select id="selectQuizMaterialCourseAjax" parameterType="materialUpload" resultType="materialUpload">
		SELECT * FROM COURSE WHERE CO_IDNUM = #{cl_idnum} AND CO_LV = #{cl_lv}
	</select>
	
	<insert id="insertQuizMaterialUploadProblemAjax" parameterType="materialUpload">
		INSERT INTO PROBLEM(pb_num, pb_lv, pb_id,pb_idnum, pb_pbnum, pb_pbname,pb_pbanswer, pb_pbexplain,pb_pbstudent, pb_answerchk,pb_pbdate, pb_pbchkqz) VALUES(#{pb_num}, #{pb_lv}, #{pb_id}, #{pb_idnum}, #{pb_pbnum}, #{pb_pbname}, #{pb_pbanswer}, #{pb_pbexplain}, #{pb_pbanswer}, 1, default, 1)
	</insert>
	
	<insert id="insertQuizMaterialUploadDetailProblemAjax" parameterType="materialUpload">
		INSERT INTO DETAILPROBLEM(dp_num,dp_lv,dp_id,dp_idnum, dp_pbnum, dp_pbexm, dp_pbexmnum,dp_coname) VALUES(#{pb_num}, #{dp_lv}, #{dp_id}, #{dp_idnum}, #{dp_pbnum}, #{dp_pbexm}, #{dp_pbexmnum}, #{dp_coname})
	</insert>
	
	
	
	
	
	
	
	
</mapper>
















