<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.icia.studyAvg.IStudyAvgDao">
 	<select id="selectStudyAvg" parameterType="String" resultType="StudyAvg">
 		SELECT cl_idnum, cl_clname, Co_name, co_num, co_lv, COUNT(gr_id) AS gr_id, cl_id
		FROM lectureQuiz1
		WHERE cl_id=#{id} and gr_kind= 'T'
		GROUP BY cl_idnum, cl_clname, Co_name, co_num, co_lv, cl_id
 	</select>
 	
 	<select id="allSelectStudyAvg" parameterType="String" resultType="StudyAvg">
 		SELECT *
		FROM(SELECT cl_idnum, cl_clname, Co_name, co_num, co_lv, COUNT(gr_id) AS gr_id, cl_id
			 FROM lectureQuiz1
			 WHERE cl_id=#{id} and gr_kind= 'T'
			 GROUP BY cl_idnum, cl_clname, Co_name, co_num, co_lv, cl_id) 
		WHERE cl_clname LIKE '%${cont}%' OR Co_name LIKE '%${cont}%'
 	</select>
 	
 	<select id="classSelectStudyAvg" parameterType="String" resultType="StudyAvg">
 		SELECT cl_idnum, cl_clname, Co_name, co_num, co_lv, COUNT(gr_id) AS gr_id, cl_id
		FROM lectureQuiz1
		WHERE cl_id=#{id} and gr_kind= 'T' and cl_clname LIKE '%${cont}%'
		GROUP BY cl_idnum, cl_clname, Co_name, co_num, co_lv, cl_id
 	</select>
 	
 	<select id="courseSelectStudyAvg" parameterType="String" resultType="StudyAvg">
 		SELECT cl_idnum, cl_clname, Co_name, co_num, co_lv, COUNT(gr_id) AS gr_id, cl_id
		FROM lectureQuiz1
		WHERE cl_id=#{id} and gr_kind= 'T' and Co_name LIKE '%${cont}%'
		GROUP BY cl_idnum, cl_clname, Co_name, co_num, co_lv, cl_id 	
 	</select>
 	
 	<select id="selectStudyAvgShow" parameterType="StudyAvg" resultType="StudyAvg">
		SELECT Rownum as ranking, stud.gr_idnum, stud.co_name, stud.gr_num, stud.gr_id as gr_id1, stud.gr_score 
		FROM (SELECT* 
				FROM studcntavg1 
				where gr_idnum=#{cl_idnum} and co_name=#{co_name} and gr_num=#{cl_lcnum}
			 ORDER BY gr_score DESC) stud
 	</select>
 </mapper>